*{
font-family: 'inter';
margin: 0px;
padding: 0px;
box-sizing: border-box;
}


body{
background-image:linear-gradient(45deg,lightblue,pink) ;


}



header{
background-color: #ec9cbb;


}

nav{
display: flex;
justify-content: space-between;
padding: 0 15px;
align-items: center;
height: 64px;

}


nav ul{

display: flex;
list-style: none;
gap: 40px;

}

nav a {
text-decoration: none;
color: #111;
font-size: 17px;
transition: .8s;
}

ul :hover{
cursor: pointer;

 color: #fff;
font-weight: bold;
border-radius: 5px;
}




.logo{

font-weight: bold;
color: #fff;
letter-spacing:6px;
}


.container{

height:90vh;
padding: 20px;
margin-left: 40px;
margin-right: 40px;
display: flex;
flex-direction: row-reverse;
justify-content: space-between;
align-items: center;
gap: 30px;

}

.container img{

height: 450px;
width: 27%;



}

.hero-text{

    width: 50%;
}


.icon{
color:#fff;
transition: .42s;

}

#icons:hover{

cursor: pointer;
color: #111;

}





#icons {

margin: 10px;


}

.hero-text h1 {
 font-weight: bold;
font-size: 3.3rem;
margin-bottom: 18px;
color: #6d0d24;
}

.hero-text p{

font-size: 20px;
margin-bottom: 70px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button{
padding: 20px 30px;
background-color: #ec9cbb;
border: 0;
border-radius: 10px;
font-size: 16px;
text-transform: uppercase;
font-weight: 800;
box-shadow: 0em -0.2rem oem #7e6969 inset;
transition: .55s;
margin-bottom: 60px;
}

button:hover{
cursor: pointer;
transform: translate(-5px);


}



@media (max-width:1050px){

.container{

flex-direction: column;
align-items: center;

}





.hero-text {
width: 100%;


}
 .icon{
margin-top:-25px ;


 }
 

}











@media (max-width:850px){







.container{
flex-direction: column;
align-items: center;


}

.container img{
width: 40%;



}






nav{
padding: 0 20px;


}

.hero-text  {
width: 100%;
text-align: center;
}

.hero-text h1  {
    font-size: 3rem;
}



}


@media (max-width:670px){

.container{

margin-top: -20px;

}


.hero-text h1{

font-size: 2rem;
}

.container img{

width: 40vh;
height: 400px;

}

.logo{

margin-left: 230px;
font-size: 15px;
}

.logo:hover{
cursor: pointer;
color: #111;


}



ul li{
    display: none;
    
    
    }


.icon {

position: absolute;
left: 0;
top: 50px;
padding: 1px -20px;
}





}

